{% extends 'base.html' %}

{% block header %}
<title>Hello JCFlask - Contact</title>
{% endblock %}

{% block content %}
  <div class="px-4 py-3 my-2 text-center">
    <!-- <img class="d-block mx-auto mb-4" src="{{ image_url('merc.png') }}" alt="Jimmy" width="192" height="192" /> -->
    <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <h1 class="display-6 fw-bold text-primary">Contact</h1>
    <form method="POST" action="https://formspree.io/f/myzwwkdd" class="mt-4">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>
{% endblock %}
